.flexColumnDiv{
    display: flex;
    flex-direction: column;
}

.flexRowDiv {
    display: flex; 
}

.headerColumn {
    background-color: lightgrey;
}

.table > thead > tr > th{
    background-color: plum;
    }